<form method="post" action="{{ path('reaps_delete', {'idRepas': reap.idRepas}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reap.idRepas) }}">
    <button class="btn">Delete</button>
</form>
