<form method="post" action="{{ path('composants_delete', {'idComposants': composant.idComposants}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composant.idComposants) }}">
    <button class="btn">Delete</button>
</form>
