{% extends 'base.html.twig' %}

{% block title %}New Composants{% endblock %}

{% block body %}
    <h1>Create new Composants</h1>

    {{ include('composants/_form.html.twig') }}

    <a href="{{ path('composants_index') }}">back to list</a>
{% endblock %}
